@import '../../styles/config', '../../styles/variables';

.hero-section {
  margin-top: 2em;
}
.hero-container {
  @include flexDirection(column);
  justify-content: center;

  &-text {
    text-align: center;
    width: 100%;
    &-first {
      font-size: 1.5rem;
    }

    &-first span {
      font-size: 1.5rem;
    }
    &-second {
      margin-top: 0.5em;
    }
  }
  &-image {
    width: 100%;
    text-align: center;

    &-avatar {
      width: 100%;
    }
  }
  .button {
    @include flexDirection(row);
    justify-content: center;

    &-content {
      padding: 0.5em 1em;
      border: 1px solid $primary-color;
      margin-top: 1.5em;
      width: 50%;
      border-radius: 0.2em;
      background: $secondary-color;
      cursor: pointer;
      transition: all 1s ease;
    }
    &-content a {
      text-decoration: none;
      color: $text-color;
    }
  }
}

@include media-md {
  .hero-section {
    margin-top: 4em;
  }
  .hero-container-text-first {
    font-size: 2rem;
  }
  .hero-container-text-first span {
    font-size: 2rem;
  }

  .hero-container-text-second {
    margin-top: 1.5em;
    font-size: 1.2rem;
  }

  .button {
    margin-top: 2em;
  }
  .hero-container-image-avatar {
    width: 60%;
  }
}

@include media-lg {
  .hero-section {
    // margin-top: 0;
    padding: 0 2em;
  }
  .hero-container {
    @include flexDirection(row);
    align-items: center;
  }
  .hero-container-text {
    // text-align: left;
    width: 90%;

    &-first {
      text-align: left;
      font-size: 3rem;
    }

    &-second {
      text-align: left;
      margin-top: 1em;
      width: 100%;
      line-height: 1.5em;
      font-size: 1.5rem;
    }
    .hero-container-image {
      background-color: red;
    }
  }
  .button {
    width: 80%;
    margin-top: 1.4rem;
    @include flexDirection(row);
    justify-content: flex-start !important;
  }
  .hero-container-image-avatar {
    width: 80%;
    margin-left: 5rem;
  }
}
