@import "../../styles/config","../../styles/variables";

.project-section{
    margin-top: 3em;
}

.project-container{

    &-heading{
        font-size: 2rem;
        text-align: center;
        text-decoration: underline;
    }
}

@include media-md{
    .project-section{
        margin-top: 4em;
    }
}